.DS_Store
.vscode
.mcp.json
bin

# --- Build artifacts ---
# Windows executables / libraries
*.exe
*.dll
# macOS / Linux shared libraries
*.dylib
*.so
demos/flogo-ai-alert-agent/FLOGO Agent AI - Platform Error Alert Agent-old.md
